html {
  background-color: #fff;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
}

html.dark {
  background-color: #333333;
  color-scheme: dark;
}

a {
  text-decoration: none;
}

@keyframes slidein {
  60% {
    transform: scale(1.06);
  }
}

canvas.animation {
  animation: slidein 0.3s alternate;
}

.myLoading {
  width: 100%;
  background: linear-gradient(180deg, #ffd300 0%, #ffa700 100%);
  animation: myfirst 2s linear;
  height: 20px;
  border-radius: 50px;
}

@keyframes myfirst {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
